html {
    background     : url("../img/background.jpg") no-repeat center center fixed #6F4242;
    background-size: cover;
}

.game-board {
    margin-top  : 10%;
    margin-left : 10%;
    width       : 80%;
}

.card {
    width               : 150px;
    height              : 223px;
    background-image    : url("../img/box-back.png");
    background-size     : contain;
    float               : left;
    margin              : 1.5%;
    border-radius       : 10px;
}

.score,
.high_score {
    color: white;
    font-family: "HearthStone";
    font-size: large;
}

@font-face {
    font-family: HearthStone;
    src: url(../font/OPTIBelwe-Medium.otf);
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.25, 1.25);
    }
    100% {
        transform: scale(1,1);
    }
}